{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>My BLOG</title>
    <link rel="stylesheet" href="{% static 'perfilUser/css/style.css' %}">
</head>
<body>
    <div class="d-grid img pos-abs">
        <!-- LOGIN DE USUARIOS -->
        <div class="container-login ">
            <form class="d-grid" action="{%url 'valida_login'%}" method="POST"> {%csrf_token%}
                <h1>Faça Login</h1>
                <div class="d-grid">
                    <label class="label" for="email">Email</label>
                    <input class="tam-input" name="email" type="text" name="email" placeholder="Insira seu Email...">
                </div>
                <div class="d-grid">
                    <label class="label" for="senha">Senha</label>
                    <div class="d-flex">
                        <input class="tam-input" name="senha" type="password" id="senha" name="senha"
                            placeholder="Insira sua Senha...">
                    </div>
                </div>
                <div class="d-flex jus-cont-center div-width">
                    <button type="submit" class="btn cursor-pointer">Entrar</button>
                </div>
                <br>
                {% if status_login == '0' %}
                <div class="status-error">
                    <p>Email ou Senha incorretos</p>
                </div>
                {% endif %}
            </form>
        </div>

        <!-- CADASTRO DE USUARIOS -->
        <div class="container-cadastro ">
            <form class="d-grid" action="{%url 'valida_cadastro'%}" method="POST"> {%csrf_token%}
                <h3>Ainda não tem uma conta ?</h3>
                <h1>Cadastre-se</h1>
                <div class="d-flex flex-wrap">
                    <div class="d-grid d-width">
                        <label class="label" for="nome">Nome Completo</label>
                        <input class="tam-input" name="nome" type="text" placeholder="DIgite seu Nome Completo">
                        {% if status_cadastro == '1'%}
                        <div class="status-error">
                            <p>Este campo não pode estar vazio</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-grid d-width">
                        <label class="label" for="email">Email</label>
                        <input class="tam-input" name="email" type="text" placeholder="Digite seu Email">
                        {% if status_cadastro == '5'%}
                        <div class="status-error">
                            <p>Este campo não pode estar vazio</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-grid d-width">
                        <label class="label" for="senha">Senha</label>
                        <input class="tam-input" type="password" name="senha" placeholder="Mínimo de 8 caractéres">
                        {% if status_cadastro == '2'%}
                        <div class="status-error">
                            <p>Sua senha deve ter pelo menos 8 caractéres</p>
                        </div>
                        {% endif %}
                        {% if status_cadastro == '6' %}
                        <div class="status-error">
                            <p>Suas senhas não conferem</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-grid d-width">
                        <label class="label" for="senha1">Confirme sua Senha</label>
                        <input class="tam-input" type="password" name="senha1" placeholder="Digite novamente sua Senha">
                        {% if status_cadastro == '6' %}
                        <div class="status-error">
                            <p>Suas senhas não conferem</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="d-flex">
                        <label class="label" for="autor">Quero ser Autor de Postagens</label>
                        <input class="checkbox-cad" type="checkbox" name="autor">
                    </div>

                    <div class="d-flex jus-cont-center div-width">
                        <button class="btn cursor-pointer" type="submit">Cadastrar-se</button>
                        <br>
                        {% if status_cadastro == '0'%}
                        <div class="status-success">
                            <p>Cadastro realizado com sucesso</p>
                        </div>
                        {% endif %}

                        {% if status_cadastro == '3'%}
                        <div class="status-error">
                            <p>Usuário ja existe no sistema</p>
                        </div>
                        {% endif %}

                        {% if status_cadastro == '4'%}
                        <div class="status-error">
                            <p>Erro interno do sistema</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'perfilUser/js/index.js' %}"></script>
</body>
</html>