{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'perfilUser/css/style.css' %}">
</head>
<header>
    <nav class="nav-header width-100 d-flex flex-dir-initial jus-cont-between alg-itens-center">
        <div class="div-nome-us">
            <p class="input-usuario">{{usuario_logado}}</p>
        </div>
        <div class="div-search">
            <div class="width-100">
                <form method="GET" id="search-form">
                    <input placeholder="Pesquise..." class="input-search" type="text" id="search" name="search"
                        value="{{request.GET.search}}">
                    <svg id="search-btn" class="icon-src cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </form>
            </div>
        </div>
        <div class="div-sair">
            <a class="input-sair" href="{% url 'logout' %}">Sair</a>
        </div>
    </nav>
</header>