<body>
    {% include 'header.html' %}
    <div class="body-conf">
        <a href="{% url 'home' %}">Voltar</a>
        <section class="d-flex flex-dir alg-itens-center margin-top-section">
            <div class="margin-b-h1 margin-div">
                <h1 class="h1-cadastro font-sans">Cadastre uma nova Postagem</h1>
            </div>
            <form class="d-grid font-sans form-width" action="{% url 'cadastro_post' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div  class="d-grid style-label margin-div">
                    <label for="imagem">Insira imagem principal do seu Post</label>
                    <input type="file" name="imagem" accept="image/*">
                </div>
                <div class="d-grid style-label margin-div">
                    <label for="titulo">Escreva um Título</label>
                    <input class="style-input" name="titulo" type="text">
                </div>

                <div class="d-grid style-label margin-div">
                    <label for="">Selecione a categoria em que seu post se encaixa</label>
                    <select class="select-style" name="categoria">
                        {% for categoria in categorias %}
                        <option value="{{categoria.nome}}">{{categoria.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid style-label margin-div">
                    <label for="conteudo">Digite o conteúdo do seu Post</label>
                    <textarea class="text-area-style" name="conteudo" cols="30" rows="10"></textarea>
                </div>
    
                <input name="autor" type="hidden" value="{{usuario_req}}">
                <div class="margin-div">
                    <button class="btn-edit cursor-pointer" type="submit">Postar</button>
                </div>
                {% if status == '0' %}
                    <p>Post realizado com sucesso</p>
                {% endif %}
    
                {% if status == '1' %}
                <p>Não foi possível realizar a Postagem</p>
                <p>Confira novamente os campos</p>
            {% endif %}
            </form>
        </section>
        <div class="width-100 text-end m-bottom">
            <a href="{% url 'home' %}">Voltar</a>
        </div>
    </div>
    <script src="{% static 'perfilUser/js/search.js' }"></script>
    {% include 'footer.html' %}
</body>