<body>
    {% include 'header.html' %}
    <div class="body-conf">
        <div class="d-flex flex-dir alg-itens-center btn-margin-top">
            <a class="text-decoration a-cad-post font-sans" href="{% url 'cadastrar_post' %}">Cadastrar Postagem</a>
            <h2 class="h1-font">Quantas vezes eu postei : {{ qnt_post }}</h2>
        </div>
        <div class="d-flex jus-cont-center div-h1">
            <h1 class="h1-font">Minhas Postagens</h1>
        </div>
        <section class="d-flex flex-wrap flex-dir-unset">
            {% for post in post %}
            <div class="div-post">
                <img style="width: 400px;" src="{{post.imagem.url}}">
                <div class="d-flex flex-dir alg-itens-center font-a max-width">
                    <a class="text-decoration a-titulo t-align" href="{% url 'edit_post' post.id %}">{{ post.titulo }}</a>
                    <p>Postado em: {{post.data_cadastro}}</p>
                    <button class="text-decoration btn-excluir" onclick="excluirPost('{{post.id}}')">Excluir</button>
                </div>
            </div>
            {% endfor %}
        </section>
        <div>
            {% if post.has_previous %}
                <a href="{% url 'home' %}?page={{post.previous_page_number}} ">Anterior</a>
            {% endif %}
            {% if post.has_next %}
                <a href="{% url 'home' %}?page={{post.next_page_number}} ">Próximo</a>
            {% endif %}
        </div>
    </div>
    <script>
        function excluirPost(post_id) {
            const url = "{% url 'excluir_post' 123 %}"
            const confirm = window.confirm("Deseja excluir?")
            if (confirm) {
                window.location.assign(url.replace('123', post_id))
            }
        }
        </script>
    {% include 'footer.html' %}
</body>