{% include 'header.html' %}
<body  class="body-conf"> 
    <h1>Bem vindo Autor</h1>
    <a href="{% url 'cadastrar_post' %}">Cadastrar Postagem</a>
    <section>
        <div>
            {% for post in post %}
                <a href="{% url 'edit_post' post.id %}">{{ post.titulo }}</a>
                <img style="width: 400px;" src="{{post.imagem.url}}">
                <p>{{post.data_cadastro}}</p>
                <a href="{% url 'excluir_post' post.id %}" id="{{post.id}}">Excluir</a>
            {% endfor %}
        </div>
        <div>
            <h2>
                Quantas vezes eu postei
            </h2>
            <p>{{ qnt_post }}</p>
        </div>
    </section>
</body>
{% include 'footer.html' %}

