{% include 'header.html' %}

<body class="body-conf">
    <a href="{% url 'index' %}">Voltar</a>
    <section class="d-flex flex-dir alg-itens-center">
        {% for post in posts %}
            <h1 class="title-post">{{post.titulo}}</h1>
            <img style="width: 800px;" src="{{post.imagem.url}}">
            <p class="conteudo-post">{{post.conteudo}}</p>
        {% endfor %}
    </section>
    <hr>
    <section class="d-grid">
        <div>
            {% for i in comentarios %}
                <p>{{i.usuario}}</p>
                <p>{{i.comentario}}</p>
                <p>{{i.data_coment}}</p>
            {% endfor %}
        </div>
        <div>
            <form action="#" method="POST">
                <textarea name="meu_comentario" id="" cols="30" rows="10">Escreva um Comentário</textarea>
                <button type="submit">Comentar</button>
            </form>
        </div>
    </section>
</body>
{% include 'footer.html' %}