@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

.img{
    background-image: url('/static/perfilUser/img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.flex-dir{
    flex-direction: column;
}

.flex-dir-unset{
    flex-direction: unset;
}

.flex-dir-initial{
    flex-direction: initial;
}
.alg-itens-center{
    align-items: center;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.jus-cont-center{
    justify-content: center;
}

.jus-cont-between{
    justify-content: space-between;
}

.pos-abs{
    position: absolute;
}

.cursor-pointer{
    cursor: pointer;
}

.text-decoration{
    text-decoration: none;
}

.container-login{
    margin-top: 5%;
    margin-left: 15%;
    width: 25%;
    height: 200px;

}

.container-cadastro{
    margin-left: 5%;
    width: 50%;
    height: 250px;
}

.tam-input{
    margin-top: 3px;
    height: 40px;
    width: 80%;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid transparent;                              
}

.div-width{
    width: 70%;
}

.btn{
    margin-top: 5%;
    height: 40px;
    width: 50%;
    font-size: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid transparent;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
}

.label{
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Roboto';
}

.checkbox-cad{
    width: 20px;
    margin-top: 7px;
    margin-left: 10px;
}

.status-success{
    margin-top: 2px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(8, 99, 0);
}

.status-error{
    margin-top: 2px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.d-width{
    margin-top: 1%;
    width: 50%;
}

/* Área Administrador */

.body-conf{
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
}

.header{
    width: 100%;
    height: 60px;
    background-color: rgb(80, 80, 80);
    font-size: 30px;
    color: #ffffff;
}
.menu-nav{
    background-color: rgb(80, 80, 80);
    width: 20%;
}

.h1-header{
    padding-top: 1%;
    color: #ffffff;
    font-size: 40px;
}

.a-nav{
    width: 100%;
    height: 40px;
    font-size: 25px;
    background-color: rgb(80, 80, 80);
    color: #ffffff;
}

.a-nav:hover{
    background-color: #c9c9c9;
    color: black;
}

.t-align{
    text-align: center;
}

.form-w{
    width: 40%;
}

/* HEADER */


.img-topo{
    height: 250;

}
.width-100{
    width: 100%;
}

.div-header{
    height: 0px;
    display: contents;
}

.nav-header{
    background-color: #2d87ac;
    height: 50px;

}

.div-search{
    width: 28%;
}

.div-nome-us{
    width: 32%;
    margin-left: 1%;
}

.div-sair{
    width: 32%;
    text-align: end;
}
.input-search{
    height: 30px;
    margin: 0.8%;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.icon-src{
    width: 25px;
    height: 25px;
    margin-top: 1%;
    color: #ffffff;
}

.input-sair{
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
}

.input-usuario{
    font-size: 20px;
    color: #ffffff;
    margin-right: 12%;

}

/* FOOTER */

.div-footer{
    background-color: #2d87ac;
    height: 50px;
}

.p-footer{
    color: #ffffff;
    font-size: 20px;
    margin-top: 0.5%;
}


/*  Página de Visualização da notícia */

.title-post{
    font-size: 40px;
    text-align: center;
    margin: 5%;
}

.conteudo-post{
    margin: 5%;
    font-size: 25px;
    text-align: center;
}



/* Página inicial Usuário Comum */

.titulo-post{
    margin: 5%;
    text-align: center;
    font-size: 30px;
    color:  #2d87ac;
}



/* PÁGINA PRINCIPAL DO USUARIO COMUM */

.cor-p-data{
    color: #878585;
}

/* SEÇÃO DE COMENTÁRIOS */

.section-com{
    background-color: #2d87ac;
    font-size: 20px;
    margin-top: 1%;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
    color: #ffffff;
}

.font-data{
    font-size: 15px;
}


.div-com{
    width: 70%;
}

.text-com{
    resize: none;
    margin-top: 2%;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    height: 100px;
    background-color: #afe8ff;
}

.btn-coment{
    margin-top: 0.2%;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #2d87ac;
    color: #ffffff;
    margin-bottom: 5%;
}

.font-a{
    font-size: 18px;
}

/* PÁGINA INICIAL DO AUTOR */


.div-h1{
    margin-top: 2%;
    margin-bottom: 3%;
}

.h1-font{
    font-family: system-ui;
}

.a-cad-post{
    font-size: 25px;
    background-color: #2d87ac;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 1%;
}

.a-cad-post:hover{
    background-color: #ffffff;
    color: #2d87ac;
}

.font-sans{
    font-family: sans-serif;
}

.div-post{
    margin: 8%;
}

.btn-excluir{
    color: red;
}

.a-titulo{
    font-size: 25px;
}

.btn-margin-top{
    margin-top: 1%;
}

/*  PÁGINA DE EDIÇÃO E CADASTRO DE POSTS */

.margin-top-section{
    background-color: #2d87ac;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}

.margin-b-h1{
    margin-bottom: 1%;
}

.form-width{
    width: 60%;
}
.style-label{
    color: #ffffff;
    font-size: 30px;
    width: 100%;
}

.style-input{
    height: 40px;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding-left: 10px;
}

.margin-div{
    margin-top: 3%;
}

.h1-cadastro{
    font-size: 35px;
    color: #ffffff;
}

.select-style{
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 10px;
}

.text-area-style{
    resize: none;
    height: 200px;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 1%;
}

.btn-edit{
    height: 30px;
    width: 15%;
    font-size: 20px;
    background: #ffffff;
    color: #2d87ac;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-bottom: 1%;
}

.text-end{
    text-align: end;
}

.m-bottom{
    margin-bottom: 3.5%;
}


