@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

.img{
    background-image: url('/static/perfilUser/img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.jus-cont-center{
    justify-content: center;
}

.pos-abs{
    position: absolute;
}

.cursor-pointer{
    cursor: pointer;
}

.text-decoration{
    text-decoration: none;
}

.container-login{
    margin-top: 5%;
    margin-left: 15%;
    width: 25%;
    height: 200px;

}

.container-cadastro{
    margin-left: 15%;
    width: 25%;
    height: 250px;
}

.tam-input{
    margin-top: 3px;
    height: 40px;
    width: 80%;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid transparent;                              
}

.div-width{
    width: 70%;
}

.btn{
    margin-top: 5%;
    height: 40px;
    width: 50%;
    font-size: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid transparent;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
}

.label{
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Roboto';
}

.checkbox-cad{
    width: 20px;
    margin-top: 7px;
    margin-left: 10px;
}

.status-success{
    margin-top: 2px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(8, 99, 0);
}

.status-error{
    margin-top: 2px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

/* Área Administrador */

.body-login-adm{
    background-color: #c9c9c9;
}
.header-login{
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 80px;
}

.h1-header{
    padding-top: 1%;
    color: #ffffff;
    font-size: 40px;
}

.footer-login{
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 80px;
    margin-top: 200px;
}

.div-login-adm{
    height: 300px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.input-login-adm{
    height: 40px;
    font-size: larger;
    margin-bottom: 3%;
    padding: 1%;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.label-login-adm{
    font-size: 30px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.h2-form-adm{
    font-size: 50px;
    font-style: italic;
    margin-bottom: 3%;
}

.btn-login-adm{
    width: 50%;
    height: 50px;
    font-size: x-large;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-top: 3%;
}

.btn-login-adm:hover{
    background-color: rgb(80, 80, 80);
    color: #ffffff;
    border: 1px solid rgb(80, 80, 80) ;
}

.div-info{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    font-size: 25px;
}




