@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

.img{
    background-image: url('/static/perfilUser/img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.jus-cont-center{
    justify-content: center;
}

.pos-abs{
    position: absolute;
}

.cursor-pointer{
    cursor: pointer;
}

.container-login{
    margin-top: 5%;
    margin-left: 15%;
    width: 25%;
    height: 200px;

}

.container-cadastro{
    margin-left: 15%;
    width: 25%;
    height: 250px;
}

.tam-input{
    margin-top: 3px;
    height: 30px;
    width: 70%;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 7px;
}

.div-width{
    width: 70%;
}

.btn{
    margin-top: 10px;
    height: 40px;
    width: 50%;
    font-size: 20px;
    border-radius: 7px;
    background-color: mintcream;
}

.btn:hover{
    background-color: transparent;
}

.label{
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Roboto Slab';

}

.checkbox-cad{
    width: 20px;
    margin-top: 7px;
    margin-left: 10px;
}

.status-success{
    margin-top: 2px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(8, 99, 0);
}

.status-error{
    margin-top: 2px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}





